*{
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Source Code Pro', monospace;
    color: black;
    background-color: rgb(10, 10, 10);
}



nav.navigation{
    display: none;
    padding-top: 20px;
}

nav.navigation.active{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
}

nav.navigation a{
    padding: 5px 20px 5px 20px;
    font-size: 20px;
    color: black;
    transition: color 0.5s;
}

nav.navigation a:hover{
    color: rgb(121, 121, 121);
}

.toggleBox a img{
    filter: invert(0);
    z-index: 1000;
    padding: 20px;
}

img.menu.hide{
    display: none;
}

img.close{
    display: none;
}

img.close.show{
    display: flex;
}

a{
    text-decoration: none;
    color: black;
}

header{
    background-image: url("images/background.jpg");
    background-size:cover;
    height: 120vh;

}

.introduction{
    text-align: left;
    padding: 20px;
    width: 70%;
    margin: auto;
}

.introduction h1{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
}

.scroll{
    text-align: center;
    padding-top: 80px;
}

.scroll #scrollButton{
    background-color: transparent;
    color: black;
    padding: 10px 20px 10px 20px;
    border: solid black 2px;
    border-radius: 8px;
}

.scroll #scrollButton:hover{
    background-color: grey;
    cursor: pointer;
}

#cv img, #form img, #weather img, #login img{
    width: 40%;
    padding: 30px;
    transition: width 0.5s;
}

#cv img:hover, #form img:hover, #weather img:hover, #login img:hover{
    filter: brightness(40%);
    width: 50%;
}

#cv h1, #form h1, #weather h1, #login h1, #cv p, #form p, #weather p, #login p{
    padding: 30px;
    text-align: center;
}

#cv, #weather, #form, #login{
    text-align: center;
    color: white;
    background-image: linear-gradient(to bottom, rgba(10, 10, 10, 0.7), rgba(30, 30, 30, 0.73)), 
    url("images/rock.jpg");
    background-size: cover;
    border-radius: 20px;
    height: 80vh;
    margin: 40px;
    margin-top: 150px;
}

.container{
    padding: 50px 50px;
    align-items: center;
    text-align: center;
    color: white;
}

.container h1{
    padding: 50px;
}

.container p{
    width: 70%;
    margin: auto;
    padding-bottom: 50px;
}



@media only screen and (min-width: 991px){
    nav.navigation{
        display: flex;
        justify-content: center;
        margin: auto;
    }
    
    div.toggleBox{
        display: none;
    }

    .row{
        flex-direction: row;
        text-align: center;
        align-items: flex-end;
        background-color: transparent;
    }


    .col-2{
        width: 50%;
        float: left;
        height: 100vh;
    }

    #cv, #weather, #form, #login{
        margin-top: 30px;
    }
}